In [ ]:
#!rm hawaii.sqlite clean_HI_measurements_df.csv

In [2]:
import pandas as pd
import numpy as np
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [3]:
# Create an engine to the SQLite database file
engine = create_engine("sqlite:///hawaii.sqlite")

# Create a connection to the engine called `conn`
conn = engine.connect()

In [4]:
# Use `declarative_base` from SQLAlchemy to model each table as ORM classes

Base = declarative_base()

class Measurements(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)

class Stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [5]:
# Use `create_all` to create the tables in the database
Base.metadata.create_all(engine)

# Load the cleaned csv files into dataframes
df1 = pd.read_csv("Resources/clean_HI_measurements_df.csv")
df2 = pd.read_csv("Resources/hawaii_stations.csv")

In [6]:
# Use Orient='records' to create list of measurement data to write
data1 = df1.to_dict(orient='records')
data1[0]

{'date': '2010-01-01', 'prcp': 0.08, 'station': 'USC00519397', 'tobs': 65}

In [7]:
# Use Orient='records' to create list of stations data to write
data2 = df2.to_dict(orient='records')
data2[0]

{'elevation': 3.0,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}

In [8]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [9]:
# Save reference to the 'measurements' and 'stations' tables as variables called `table1` and 'table2'
table1 = sqlalchemy.Table('measurements', metadata, autoload=True)
table2 = sqlalchemy.Table('stations', metadata, autoload=True)

In [9]:
# Use `table.delete()` to remove any existing data.
# NOTE: This is a convenience function so that you can re-run the example code multiple times.
conn.execute(table1.delete())
conn.execute(table2.delete())

In [13]:
# Use `table.insert()` to insert the data into the tables
conn.execute(table1.insert(), data1)
conn.execute(table2.insert(), data2)

In [15]:
# Test that the insert works by fetching the first 5 rows of the measurements table. 
conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70)]

In [16]:
# Test that the insert works by fetching the first 5 rows of the stations table. 
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]